@media screen {

    .csf-center { text-align: center; }
    .csf-left { text-align: left; }
    .csf-em { font-weight: bold; }
    .csf-clearfix { overflow: auto; }

    #csftool-content {
        height: 450px;
        width: 904px;
        margin: 0 0 0 0;
        border: 2px solid #00bb00;
    }

    /* input panel */
    #csftool-input {
        display: inline-block;
        float: left;
        height: 450px;
        width: 198px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        background: #ffffff;
        border-right: 2px solid #00bb00;
        /*border: 2px solid #00bb00;*/
    }

    #csftool-input input[type="text"],
    #csftool-input input[type="number"],
    #csftool-input select {
        display: inline;
        height: 25px;
        line-height: 1.25em;
        padding: 0;
        margin-bottom: 0;
        font-size: 1em;
        color: #000000;
        border-radius: 3px;
        vertical-align: middle;
        box-shadow: none;
        border: 0;
        width: 120px;
        max-width: 196px;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #eaedf2;
        -webkit-transition: background-color 0.24s ease-in-out;
        transition: background-color 0.24s ease-in-out;
    }

    #csftool-input input[type="text"].error,
    #csftool-input input[type="text"].is-invalid,
    #csftool-input input[type="number"].error,
    #csftool-input input[type="number"].is-invalid,
    #csftool-input select.error,
    #csftool-input select.is-invalid {
        color: #df2029;
        border-color: #fbe3e4;
        background-color: #fbe3e4;
        background-position: 99% center;
        background-image: none;
        outline-color: #fbe3e4;
    }

    #grapehard-location {
        width: 100%;
        margin: 1em 0 0 0;
        padding: 0 0 0 5px;
        font-size: 0.9em;
        line-height: 1.25;
        color: #000000;
        }
    span.grapehard-location-address {
        color: #45930b;
        padding: 0 0 0 10px;
    }
    #grapehard-current-lat,
    #grapehard-current-lng {
        color: #45930b;
        padding: 0 0 0 5px;
    }
    #grapehard-location .ui-button {
        margin: 5px auto;
        display: block;
    }

    #grapehard-date {
        width: 100%;
        margin: 35px 0 0 0;
        padding: 0 0 0 5px;
        font-size: 1em;
        line-height: 1.25;
        color: #000000;
    }

    #grapehard-date-selector {
        width: 100%;
        margin: 0 0 0 0;
    }
    #grapehard-date-selector input[type="text"] {
        font-size: 1em;
        max-width: 16em;
        padding: 0 12px 0 3px;
    }
    #grapehard-date-selector input[type="text"]:active,
    #grapehard-date-selector input[type="text"]:focus {
        font-size: 1em;
        background-color: #f7f8fa;
        border: 1px solid #00bb00;
    }

    #grapehard-varieties {
        font-size: 1em;
        width: 100%;
        margin: 35px 0 0 0;
        padding: 0 0 0 5px;
        line-height: 1.25;
        color: #000000;
    }

    #grapehard-varieties select#variety-selector {
        width: 80%;
    }

    #grapehard-chart-button {
        margin: 35px auto;
        width: 100%;
    }
    #grapehard-toggle-display .ui-button {
        display: block;
        margin: auto;
    }
    #grapehard-toggle-display .ui-button-text-only .ui-button-text {
        padding: .2em;
    }
    #grapehard-no-toggle-text {
        display: none;
        font-size: 0.9em;
        font-weight: bold;
        padding: 0 0 0 5px;
    }

    /* display panel */
    #csftool-display {
        height: 450px;
        width: 700px;
        margin-left: 200px;
        /*border-top: 2px solid #00bb00;
        border-right: 2px solid #00bb00;
        border-bottom: 2px solid #00bb00;*/
        text-align: center;
        line-height: 1em;
        background: #ffffff;
    }

    #grapehard-display-chart {
        /* height: 410px; */
        height: 448px;
        width: 700px;
        margin: 0 0 0 0;
        text-align: center;
    }
    #grapehard-display-msg {
        font-size: 0.9em;
        /* height: 40px; */
        height: 0px;
        width: 100%;
        margin: 0 4px 0 4px;
        text-align: center;
        /* border-top: 2px solid #3baae3; */
    }

/* end of grapehard screen styling */
}

